<!-- bikes.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bikes Page</title>
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>

    <header>
        <h1 class="logo">TwoWheelTrips</h1>
        <nav class="navigation">
            <a href="/" class="contacts-page">Home</a>
            <a href="/contact" class="login-page">Contact Us</a>
            <a href="/about" class="contacts-page">About Us</a>
        </nav>
    </header>

    <h1>Bikes And Rides</h1>

    <ul>
        <% routes.forEach(route => { %>
            <li>
                <div>
                    <p>Origin: <%= route.origin %></p>
                    <p>Destination: <%= route.destination %></p>
                    <p>Fare: <%= route.fare %></p>
                </div>
                <form class="book-now-form" action="/user_bike_Showcase" method="post">
                    <input type="hidden" name="origin" value="<%= route.origin %>">
                    <input type="hidden" name="destination" value="<%= route.destination %>">
                    <input type="hidden" name="fare" value="<%= route.fare %>">
                    <button type="submit">View Bikes</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
